<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans       
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd  
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.1.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd  
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-3.2.xsd">
	<!-- in-memory database and a datasource -->
	<bean
		id="propertyConfigurer"
		class="com.datacomo.wins.util.EncryptablePropertyConfigurer">
		<property
			name="properties"
			ref="configProperties" />
	</bean>

	<context:component-scan base-package="com.datacomo.wins.service" />
	<context:component-scan base-package="com.datacomo.wins.business" />
	<context:component-scan base-package="com.datacomo.wins.websocket" />
	<context:component-scan base-package="com.datacomo.wins.task" />

	<!-- 识别@Scheduled注解 -->
	<task:annotation-driven
		scheduler="qbScheduler"
		mode="proxy" />
	<task:scheduler
		id="qbScheduler"
		pool-size="10" />

	<bean
		id="client"
		class="com.datacomo.wins.util.Client">
		<constructor-arg index="0">
			<value>${sms.user}</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>${sms.password}</value>
		</constructor-arg>
		<constructor-arg index="2">
			<value>${sms.url}</value>
		</constructor-arg>
	</bean>

	<bean
		id="configProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath*:jdbc.properties</value>
				<value>classpath*:sms.properties</value>
				<value>classpath*:upload.properties</value>
				<value>classpath*:sshconfig.properties</value>
				<value>classpath*:message.properties</value>
				<value>classpath*:monitorconfig.properties</value>
				<value>classpath*:serverconfig.properties</value>
				<value>classpath*:globalen.properties</value>
			</list>
		</property>
	</bean>
	<!-- <bean name="objectMapper" class="org.codehaus.jackson.map.ObjectMapper" 
		scope="singleton"></bean> -->
	<context:annotation-config />


	<!-- 数据库链接池 -->
	<bean
		id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property
			name="driverClassName"
			value="${jdbc.driver}" />
		<property
			name="url"
			value="${jdbc.url}" />
		<property
			name="username"
			value="${jdbc.username}" />
		<property
			name="password"
			value="${jdbc.password}" />
		<property
			name="initialSize"
			value="${jdbc.initialSize}" />
		<property
			name="minIdle"
			value="${jdbc.minIdle}" />
		<property
			name="maxActive"
			value="${jdbc.maxActive}" />
		<property
			name="maxIdle"
			value="${jdbc.maxIdle}" />
		<property
			name="defaultAutoCommit"
			value="true" />
		<!-- 连接被泄露时是否打印 -->
		<property
			name="logAbandoned"
			value="true" />
		<!--removeAbandoned: 是否自动回收超时连接 -->
		<property
			name="removeAbandoned"
			value="true" />
		<!--removeAbandonedTimeout: 超时时间(以秒数为单位) -->
		<property
			name="removeAbandonedTimeout"
			value="15" />
	</bean>
	<!-- transaction -->
	<bean
		id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property
			name="dataSource"
			ref="dataSource" />
	</bean>
	<!-- bean mapping -->
	<bean
		name="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property
			name="dataSource"
			ref="dataSource" />
		<property
			name="typeAliasesPackage"
			value="com.datacomo.wins.bean" />
	</bean>
	<!-- mapping -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property
			name="sqlSessionFactoryBeanName"
			value="sqlSessionFactory" />
		<property
			name="basePackage"
			value="com.datacomo.wins.mapper" />
	</bean>

	<import resource="classpath*:spring-scheduler.xml" />


</beans>
